<link rel="stylesheet" href="/stylesheets/helper_meetups.css">
<div class="row">
    <div class="col-md-12">
        <h1> YOU ARE A HELPER - MEETUPS </h1>
        <div class = "tab-wrap">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'create')" id="defaultOpen">Create new meetup</button>
                <button class="tablinks" onclick="openTab(event, 'viewAll')">View all meetups</button>
            </div>
        </div>

        <div id="create" class="tabcontent">
            <div class = "row">
                <div class="col-md-12">
                    <div class = "panel-wrapper">
                        <form class="create-meetup" form method="POST" action="/helper/create">
                            <input type="text" class="form-control" name ="name" placeholder="Meetup name..." required autofocus>
                            <input type="text" class="form-control" name= "date" placeholder="Meetup date..." required>
                            <input type="text" class="form-control" name ="time" placeholder="Meetup time..." required>
                            <input type="text" class="form-control" name= "location" placeholder="Meetup location..." required>
                            <textarea id="about" class="form-control" name="about" placeholder="About meetup..."></textarea>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">create meetup</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="viewAll" class="tabcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class = "nearby-wrap">
                                <h3 class="text-center heading"> Popular in your area </h3>
                                <div class = "row">
                                    <div class = "col-md-12">
                                        <div class = "panel-wrapper">
                                            <button class="accordion">Hill Walking | 0.9Mi away <i class="fa fa-angle-double-down pull-right"></i></button>
                                            <div class="panel">
                                                <div class="col-md-6">
                                                    <div class="info-div">
                                                        <p>14 Attending</p>
                                                        <p>14th May 2017</p>
                                                        <p>11:00am</p>
                                                        <p>Kelburn Country Park</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="button-div">
                                                        <a href="/meetupdetails" id="#view" class="btn btn-success" role="button">View Meetup!</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="accordion">Five-aside football Tournament | 4.3Mi away <i class="fa fa-angle-double-down pull-right"></i></button>
                                            <div class="panel">
                                                <p>Lorem ipsum...</p>
                                            </div>

                                            <button class="accordion">Bad move night | 3.6Mi away <i class="fa fa-angle-double-down pull-right"></i></button>
                                            <div class="panel">
                                                <p>Lorem ipsum...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form class="search-tweets" form method="POST" action="/meetups-search">
                            <div class="col-md-6">
                                <div class = "row">
                                    <div class = "col-md-12">
                                        <div class="box">
                                            <div class="container-3">
                                                <span class="icon"><i class="fa fa-search"></i></span>
                                                <input type="search" id="search-box" name="search" placeholder="Enter term(s) to search..." />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class = "row">
                                    <div class = "col-md-12">
                                        <div class="button-wrapper">
                                                <button id="search"  name="searchbutton" class="btn btn-sm btn-primary btn-block" type="submit">Search for meetups!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.js"></script>
<script src="/javascripts/meetups.js"></script><script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/javascripts/search-results.js"></script>
