<div class="row">
    <div class = "col-md-12">
        <h1> YOU ARE A HELPER - RECOMMENDATIONS</h1>
        {{#each users}}
            <p> {{this.username}} </p>
        {{/each}}
    </div>
</div>
