<link rel="stylesheet" href="/stylesheets/dashboard.css">

<div class = "col-md-6">
    <div class = "summary-wrap">
        <h3 class="text-center heading"> Todays summary </h3>

    </div>
</div>

<div class = "col-md-6">
    <div class = "diary-wrap">
        <h3 class="text-center heading"> Todays diary </h3>
    </div>
</div>
