<link rel="stylesheet" href="/stylesheets/dashboard.css">
<div class="row">
    <div class = "col-md-12">
        <div class = "tab-wrap">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'summary')" id="defaultOpen">Todays Summary</button>
                <button class="tablinks" onclick="openCity(event, 'diary')">Todays Diary</button>
            </div>

            <div id="summary" class="tabcontent">
                <div class = "row">
                    <div class="col-md-12">
                        <div class = "summary-wrap wrap-colour">
                            <h3 class="text-center heading"> Todays summary </h3>

                            <div class = "row">
                                <div class = "col-md-12">
                                    <div id="sleep-heading-wrap">
                                        <p class="pull-right" id="sleepCount">You got 6.8/8 hours sleep last night </p>
                                    </div>
                                </div>
                            </div>

                            <div class = "row">
                                <div class = "col-md-12">
                                    <div class="sleep-wrap">
                                        <canvas id="sleep-progress" height="40" width="400"></canvas>
                                    </div>
                                </div>
                            </div>

                            <div class = "row">
                                <div class = "col-md-12">
                                    <div id="step-heading-wrap">
                                        <p class="pull-right" id="stepCount"> 7,342/10,000 steps </p>
                                    </div>
                                </div>
                            </div>

                            <div class = "row">
                                <div class = "col-md-12">
                                    <div class="step-wrap">
                                        <canvas id="steps-progress" height="40" width="400"></canvas>
                                    </div>
                                </div>
                            </div>

                            <div class = "row">
                                <div class = "col-md-12">
                                    <div id="bp-heading-wrap">
                                        <span class="small-text">Your average blood pressure: </span><span class="big-text pull-right">120/80mmHg </span>
                                    </div>
                                </div>
                            </div>

                            <div class = "row">
                                <div class = "col-md-12">
                                    <div id="vitD-heading-wrap">
                                        <span class="small-text">Your average vitamin D levels: </span><span class="big-text pull-right">20 ng/ml </span>
                                    </div>
                                </div>
                            </div>

                            <div class = "row">
                                <div class = "col-md-12">
                                    <div id="vitD-heading-wrap">
                                        <span class="big-text">1 upcoming meetup: </span>
                                    </div>
                                </div>
                            </div>

                            <div class = "row">
                                <div class = "col-md-12">
                                    <div id="meetup-wrap">
                                        <div class = "row">
                                            <div class="col-md-12">
                                                <p class="text-center"> At 3pm (1 hour away) <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-1x icon-background1"></i><i class="fa fa-exclamation fa-stack-1x"></i></span></p>
                                            </div>
                                        </div>
                                        <div class = "row">
                                            <div class="col-md-6">
                                                <div id="info-section">
                                                    <p>Hill Walking</p>
                                                    <p>Kelburn country park</p>
                                                    <p>5.7 Mi away</p>
                                                </div>
                                            </div>
                                            <div clss="col-md-6">
                                                <div id="map-wrap">
                                                    <div id="map"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="diary" class="tabcontent">
            <div class = "row">
                <div class="col-md-12">
                    <div class = "diary-wrap wrap-colour">
                        <h3 class="text-center heading"> Todays diary </h3>

                        <div class = "row">
                            <div class = "col-md-12">
                                <div class="box-wrap">
                                    <p class="pull-left" id="feelingLabel">How are you feeling today? </p>
                                </div>
                            </div>
                        </div>

                        <div class = "row">
                            <div class = "col-md-12">
                                <div class="box-wrap">
                                    <input id="happyRange" type="text" data-slider-ticks="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" data-slider-ticks-labels="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"/>
                                </div>
                            </div>
                        </div>

                        <div class = "row">
                            <div class = "col-md-12">
                                <div class="box-wrap">
                                    <p class="pull-left" id="feelingLabel">Any comments? </p>
                                </div>
                            </div>
                        </div>

                        <div class = "row">
                            <div class = "col-md-12">
                                <div class="box-wrap">
                                    <textarea id="happy-comments" name="happy-comments" cols="56" rows="6"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class = "row">
                            <div class = "col-md-12">
                                <div class="box-wrap">
                                    <button id="save" type="button" class="btn btn-success">Save todays entry!</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.js"></script>
<script src="/javascripts/dashboard.js"></script>
<script>
  function initMap() {
    var uluru = {lat: 55.7708, lng: -4.8433};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBno2dMjm0Ec-IbWJ8xVOc-h5MJn-D1oCg&callback=initMap">
</script>
