<link rel="stylesheet" href="/stylesheets/dashboard.css">
<div class="row">
    <div class = "col-md-12">
        <div class = "tab-wrap">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'summary')" id="defaultOpen">Todays Summary</button>
                <button class="tablinks" onclick="openTab(event, 'diary')">Todays Diary</button>
            </div>

            <div id="summary" class="tabcontent">
                <div class = "row">
                    <div class="col-md-12">
                        <div class = "row">
                            <div class = "col-md-12">
                                <h1> Your meetups </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class = "panel-wrapper">
                                    <button class="accordion meetup"><i class="fa fa-exclamation pull-left"></i>Hill Walking (in 1 hour)<i class="fa fa-angle-double-down pull-right"></i></button>
                                    <div class="panel">
                                        <div class="col-md-6">
                                            <div class="info-div">
                                                <h4>14th May 2017</h4>
                                                <h4>11:00am</h4>
                                                <h4>Kelburn Country Park</h4>
                                                <h4> 14 Attending </h4>

                                                <button id="view" type="button" class="btn btn-success">View Meetup!</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-md-12">
                        <div class = "row">
                            <div class = "col-md-12">
                                <h1> Your habits </h1>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-4">
                                <div class="progress" id="stepProgress"></div>
                            </div>
                            <div class = "col-md-4">
                                <div class="progress" id="sleepProgress"></div>
                            </div>
                            <div class = "col-md-4">
                                <div class="progress" id="BpProgress"></div>
                            </div>
                            <div class = "col-md-4">
                                <div class="progress" id="vitDProgress"></div>
                            </div>
                            <div class = "col-md-4">
                                <div class="progress" id="drinkProgress"></div>
                            </div>
                            <div class = "col-md-4">
                                <div class="progress" id="smokeDProgress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="diary" class="tabcontent">
            <div class = "row">
                <div class="col-md-12">
                    <div class = "row">
                        <div class = "col-md-12">
                            <div class="box-wrap">
                                <h3 class="pull-left" id="feelingLabel">How are you feeling today? </h3>
                            </div>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-md-12">
                            <div class="box-wrap">
                                <input id="happyRange" type="text" data-slider-ticks="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" data-slider-ticks-labels="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"/>
                            </div>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-md-12">
                            <div class="box-wrap">
                                <h3 class="pull-left" id="feelingLabel">Any comments? </h3>
                            </div>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-md-12">
                            <div class="box-wrap">
                                <textarea id="happy-comments" name="happy-comments"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-md-12">
                            <div class="box-wrap">
                                <button id="save" type="button" class="btn btn-success">Save todays entry!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.js"></script>
<script src="/javascripts/progress.js"></script>
<script src="/javascripts/dashboard.js"></script>
<script>
  function initMap() {
    var uluru = {lat: 55.7708, lng: -4.8433};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBno2dMjm0Ec-IbWJ8xVOc-h5MJn-D1oCg&callback=initMap">
</script>
