<link rel="stylesheet" href="/stylesheets/habits.css">

<div class="text-center" id="nav-wrapper">

    <div class="content">
    	<h2>Your tracked habits</h2>
        <div class="row">
            {{#each habits}}
                <div class="col-md-4">
                    <a href ="habits/{{this}}"><div class="habit">
                        <p>{{this}}</p>
                        <i class="fa fa-bed fa-3x" aria-hidden="true"></i>
                    </div></a>
                </div>
            {{/each}}
            <div class="col-md-4">
                <a href="habits/create"><div class="habit-new">
                    <i class="fa fa-plus fa-4x" aria-hidden="true"></i>
                    <h4>Add new habit</h4>
                </div></a>
            </div>
        </div>
    </div>
</div>
