<link rel="stylesheet" href="/stylesheets/habits.css">

<div class="text-center" id="nav-wrapper">
    <h1 id="title"> HappyHelper <i class="fa fa-smile-o"></i></h1>
    <nav id="nav" class="navbar" role="navigation">
        <ul class="nav navbar-nav">
            <li id="first"><a href="/">DASHBOARD</a></li>
            <li><a href="/habits">HABITS</a></li>
            <li><a href="/meetups">MEETUPS</a></li>
            <li id="last"><a href="/recomendations">RECOMENDATIONS</a></li>
        </ul>
    </nav>

    <div class="content">
    	<h2>Your tracked habits</h2>


    	<!-- for each row of habits.. !-->
    	<div class="row">
    		<div class="col-md-4">
    			<div class="habit">
    				<p>SLEEP</p>
    				<i class="fa fa-bed fa-3x" aria-hidden="true"></i>
    			</div>
    		</div>

    		<div class="col-md-4">
    			<div class="habit">
    				<p>STEPS</p>
    				<i class="fa fa-paw fa-3x" aria-hidden="true"></i>
    			</div>
    		</div>

    		<div class="col-md-4">
    			<div class="habit">
    				<p>VITAMIN D</p>
    				<i class="fa fa-sun-o fa-3x" aria-hidden="true"></i>
    			</div>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-md-4">
    			<div class="habit-new">
    				
    				<i class="fa fa-plus fa-4x" aria-hidden="true"></i>
    				<h4>Add new habit</h4>
    			</div>
    		</div>

    	</div>
    </div>
</div>
