<link rel="stylesheet" href="/stylesheets/habits.css">

<div class="text-center" id="nav-wrapper">
    <h1 id="title"> HappyHelper <i class="fa fa-smile-o"></i></h1>
    <nav id="nav" class="navbar" role="navigation">
        <ul class="nav navbar-nav">
            <li id="first"><a href="/">DASHBOARD</a></li>
            <li><a href="/habits">HABITS</a></li>
            <li><a href="/meetups">MEETUPS</a></li>
            <li id="last"><a href="/recomendations">RECOMENDATIONS</a></li>
        </ul>
    </nav>

    <div class="content">
    	<p>Name:{{habit.name}}</p>
    </div>
</div>
