<link rel="stylesheet" href="/stylesheets/habits.css">

<div class="text-center" id="nav-wrapper">
    <h1 id="title"> HappyHelper <i class="fa fa-smile-o"></i></h1>
    <nav id="nav" class="navbar" role="navigation">
        <ul class="nav navbar-nav">
            <li id="first"><a href="/">DASHBOARD</a></li>
            <li><a href="/habits">HABITS</a></li>
            <li><a href="/meetups">MEETUPS</a></li>
            <li id="last"><a href="/recomendations">RECOMENDATIONS</a></li>
        </ul>
    </nav>

    <div class="content">
    	<div class="row">
    		<div class="col-md-2">
    			<a href="/habits"><h5><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to all habits</h5></a>
    		</div>

    		<div class="col-md-8">
    			<h1>{{habit.name}}</h1>
    		</div>

    		<div class="col-md-2">
    		<a href="{{habit.url}}/delete"><h5>Delete habit</h5></a>
    		</div>
    	</div>
    	
    </div>
</div>
