<link rel="stylesheet" href="/stylesheets/habit_details.css">

<div class="text-center" id="nav-wrapper">
    <div class="content">
    	<div class="row">
    		<div class="col-md-2">
    			<a href="/habits"><h5><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to all habits</h5></a>
    		</div>

    		<div class="col-md-8">
    			<h1>{{habit}}</h1>
    		</div>

    		<div class="col-md-2">
    			<a href="/delete/{{habit}}"><h5>Delete habit</h5></a>
    		</div>
    	</div>

    	<div class="row">
    		<div class="day-calander col-md-4">

    			<i class="pull-left fa fa-arrow-left" aria-hidden="true"></i>Today<i class="pull-right fa fa-arrow-right" aria-hidden="true"></i>

				<form class="update-habit" form method="POST" action="/update/{{habit}}">
					<label>Enter {{habit}} units</label>
					<div class="row">
    					<input name="habitVal" type="text"> units
    					<div class="row">
    						<button class="update-button btn btn-success" type="submit">Update</button>
    					</div>
					</div>
				</form>
    		</div>


	    	<div class="habit-graph col-md-6">

                <h3>General chart for all habits</h3>

                <div id="general_div"></div>
                
                <h3> Type of sleep quality and mood level </h3>
                <div id="sleep_div"></div>
                
                <h3>  Heart rate chart </h3>
                <div id="heartrate_div"></div>


               <h3>Alcohol consumed in the past week</h3>

                <table>
                    <tr>
                        <th>Monday</th>
                        <td>

                            <div class="cover"><div style="background-color: white; height: 0%"></div></div>

                            <div class="cover"><div style="background-color: white; height: 0%"></div></div>

                            <div class="cover"><div style="background-color: white; height: 25%"></div></div>

                        </td>
                    </tr>
                    <tr>
                        <th>Tuesday</th>
                         <td>

                            <div class="cover"><div style="background-color: white; height: 0%"></div></div>

                            <div class="cover"><div style="background-color: white; height: 0%"></div></div>

                            <div class="cover"><div style="background-color: white; height: 65%"></div></div>

                        </td>
                    </tr>
                    <tr>
                        <th>Wednesday</th>
                         <td>

                            <div class="cover"><div style="background-color: white; height: 0%"></div></div>

                            <div class="cover"><div style="background-color: white; height: 40%"></div></div>

                        </td>
                    </tr>
                    <tr>
                        <th>Thursday</th>
                         <td>

                            <div class="cover"><div style="background-color: white; height: 0%"></div></div>

                            <div class="cover"><div style="background-color: white; height: 50%"></div></div>

                        </td>
                    </tr>
                    <tr>
                        <th>Friday</th>
                         <td>

                            <div class="cover"><div style="background-color: white; height: 0%"></div></div>

                            <div class="cover"><div style="background-color: white; height: 0%"></div></div>

                            <div class="cover"><div style="background-color: white; height: 0%"></div></div>

                            <div class="cover"><div style="background-color: white; height: 33%"></div></div>

                        </td>
                    </tr>
                    <tr>
                        <th>Saturday</th>
                         <td>

                            <div class="cover"><div style="background-color: white; height: 0%"></div></div>

                          

                        </td>
                    </tr>
                    <tr>
                        <th>Sunday</th>
                         <td>

                            <div class="cover"><div style="background-color: white; height: 25%"></div></div>

                        </td>
                    </tr>
                </table>
                <h4> Congratulations, you have been sober for x days </h4>
                
                <div id="alcohol_div"></div>


                <h3>Blood pressure, it's calculated by the difference between Systolic and Diastolic values</h3>

                <div id="blood_div"></div>


                <h3>Number of steps</h3>
                <div id="steps_div"></div>
	    	</div>
    	</div>

    </div>


    	</div>

    </div>
</div>

