<link rel="stylesheet" href="/stylesheets/habits.css">
<div class="row">
    <div class="col-md-12">
        <div class="text-center" id="nav-wrapper">
            <nav id="nav" class="navbar" role="navigation">
                <ul class="nav navbar-nav">
                    <li id="first"><a href="/dashboard">DASHBOARD</a></li>
                    <li><a href="/habits">HABITS</a></li>
                    <li><a href="/meetups">MEETUPS</a></li>
                    <li><a href="/recommendations">RECOMMENDATIONS</a></li>
                    <li id="last"><a href="/logout" target="_self">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="habit-wrap">
            <h3 class="add-habit-heading"> Add pre-set habit </h3>
            <h5> These habits have capabilities to link with a device you may own, click one to find out more! </h5>
            <div class = "row">
                <div class = "col-md-3">
                    <div class="smoking-wrap text-center" data-toggle="modal" data-target="#bpModal">
                        <div class="habit-add-preset text-center">
                            <div class="icon">
                                <i class="fa fa-heartbeat fa-3x"></i>
                                <h4> Blood pressure </h4>
                            </div>
                        </div>
                    </div>

                    <div id="bpModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Add blood pressure habit</h4>
                          </div>
                          <div class="modal-body">
                              <form class="create-meetup" form method="POST" action="/add/bp">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <label>Habit name</label>
                                          <input type="text" class="form-control" name ="name" value="BloodPressure" required  readonly>
                                      </div>
                                      <div class="col-md-4">
                                          <label>Habit unit</label>
                                          <input type="text" class="form-control" name ="units" value="mmHg" required  readonly>
                                      </div>
                                      <div class="col-md-4">
                                           <label>Habit limit (Systolic)</label>
                                          <input type="text" class="form-control" name ="limit1" value="120" required  readonly>
                                      </div>
                                      <div class="col-md-4">
                                          <label>Habit limit (Diastolic)</label>
                                          <input type="text" class="form-control" name ="limit2" value="80" required  readonly>
                                      </div>
                                      <div class="col-md-6 col-md-offset-3">
                                          <input type="checkbox" id="check" name="api_connect"> Connect with fitbit <img class="user-img fitbit" src="/images/fitbit.png"/>
                                      </div>
                                      <div class="col-md-12">
                                          <button class="btn btn-lg btn-primary btn-block" type="submit">Add habit</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                        </div>
                      </div>
                    </div>


                </div>
                <div class = "col-md-3">
                    <div class="smoking-wrap text-center">
                        <div class="habit-add-preset text-center" data-toggle="modal" data-target="#sleepModal">
                            <div class="icon">
                                <i class="fa fa-bed fa-3x" aria-hidden="true"></i>
                                <h4> Sleep </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="sleepModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Add sleep habit</h4>
                      </div>
                      <div class="modal-body">
                          <form class="create-meetup" form method="POST" action="/add/sleep">
                              <div class="row">
                                  <div class="col-md-12">
                                      <label>Habit name</label>
                                      <input type="text" class="form-control" name ="name" value="Sleep" required  readonly>
                                  </div>
                                  <div class="col-md-6">
                                      <label>Habit unit</label>
                                      <input type="text" class="form-control" name ="units" value="Hours slept" required  readonly>
                                  </div>
                                  <div class="col-md-6">
                                      <label>Habit limit</label>
                                      <input type="text" class="form-control" name ="limit" value="8" required  readonly>
                                  </div>
                                  <div class="col-md-6 col-md-offset-3">
                                      <input type="checkbox" id="check" name="api_connect"> Connect with fitbit <img class="user-img fitbit" src="/images/fitbit.png"/>
                                  </div>
                                  <div class="col-md-12">
                                      <button class="btn btn-lg btn-primary btn-block" type="submit">Add habit</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>

                <div class = "col-md-3">
                    <div class="smoking-wrap text-center">
                        <div class="habit-add-preset text-center" data-toggle="modal" data-target="#stepModal">
                            <div class="icon">
                                <i class="fa fa-paw fa-3x" aria-hidden="true"></i>
                                <h4> Steps </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="stepModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Add step count habit</h4>
                      </div>
                      <div class="modal-body">
                          <form class="create-meetup" form method="POST" action="/add/steps">
                              <div class="row">
                                  <div class="col-md-12">
                                      <label>Habit name</label>
                                      <input type="text" class="form-control" name ="name" value="StepCount" required  readonly>
                                  </div>
                                  <div class="col-md-6">
                                      <label>Habit unit</label>
                                      <input type="text" class="form-control" name ="units" value="Steps Walked" required  readonly>
                                  </div>
                                  <div class="col-md-6">
                                      <label>Habit limit</label>
                                      <input type="text" class="form-control" name ="limit" value="10000" required  readonly>
                                  </div>
                                  <div class="col-md-6 col-md-offset-3">
                                      <input type="checkbox" id="check" name="api_connect"> Connect with fitbit <img class="user-img fitbit" src="/images/fitbit.png"/>
                                  </div>
                                  <div class="col-md-12">
                                      <button class="btn btn-lg btn-primary btn-block" type="submit">Add habit</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>

                <div class = "col-md-3">
                    <div class="smoking-wrap text-center" data-toggle="modal" data-target="#vitdModal">
                        <div class="habit-add-preset text-center">
                            <div class="icon">
                                <i class="fa fa-sun-o fa-3x" aria-hidden="true"></i>
                                <h4> Vitamin D </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="vitdModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Add vitamin d habit</h4>
                      </div>
                      <div class="modal-body">
                          <form class="create-meetup" form method="POST" action="/add/vitD">
                              <div class="row">
                                  <div class="col-md-12">
                                      <label>Habit name</label>
                                      <input type="text" class="form-control" name ="name" value="VitaminD" required  readonly>
                                  </div>
                                  <div class="col-md-6">
                                      <label>Habit unit</label>
                                      <input type="text" class="form-control" name ="units" value="ng/mL" required  readonly>
                                  </div>
                                  <div class="col-md-6">
                                      <label>Habit limit</label>
                                      <input type="text" class="form-control" name ="limit" value="30" required  readonly>
                                  </div>
                                  <div class="col-md-6 col-md-offset-3">
                                      <input type="checkbox" id="ultra" name="api_connect"> Connect with Ultra Violet tracker <img class="user-img ultra" src="/images/ultra.PNG"/>
                                  </div>
                                  <div class="col-md-12">
                                      <button class="btn btn-lg btn-primary btn-block" type="submit">Add habit</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>

            </div>

            <form class="form-wrap" method="POST" action="">

            </form>
            <form class="form-wrap" method="POST" action="">

            </form>
            <form class="form-wrap" method="POST" action="">

            </form>
            <h3> Create custom habit </h3>
            <form class="form-wrap" method="POST">
                <label for="name"> Habit name </label>
                <input name="name" class="name form-control" type="text" required>
                <label for="unit"> Habit unit </label>
                <input name="unit" class="name form-control" type="text" required>
                <label for="limit"> Habit daily limit </label>
                <input name="limit" class="name form-control" type="text" required>
                <button class="btn btn-primary" type="submit">Create habit</button>
            </form>
        </div>
    </div>
</div>

<div id="bpmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.js"></script>
