<link rel="stylesheet" href="/stylesheets/meetups.css">
<div class="col-md-6">
    <div class = "nearby-wrap">
        <h3 class="text-center heading"> Popular in your area </h3>

    </div>
</div>
<div class="col-md-6">
</div>
