<link rel="stylesheet" href="/stylesheets/recommendations.css">
<div class="row">
    <div class = "col-md-5">
        <div class="helper-wrap">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center" style="padding:0; margin:0; padding-bottom:10px;"> Your helper </h2>
                    <img class="user-img img-circle" src="/images/placeholder.png" /><span class="username">name</span>
                    <h3 class="heading"> About name </h3>
                    <p class="about"> kugfouerfriuoefyieurhfiu 4h3 uih4 h p31oihg3[oi rogihe oighwerg 23piugh3 pioug3rh gpoi23hg p32oiurgh 2u43ghp32iurfhpi3urg]</p>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-md-7">
        <div class="recommendations-wrap">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center" style="padding:0; margin:0; padding-bottom:10px;"> This weeks recommendations </h2>
                </div>
            </div>
        </div>
    </div>
</div>
