<link rel="stylesheet" href="/stylesheets/search_results.css">

<div class = "row">
    <div class="col-md-12">
        <div class="results-wrap">
            <h1 class="text-center"> Meetups related to "{{query}}"</h1>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="meetup-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
