<link rel="stylesheet" href="/stylesheets/search_results.css">

<div class="row" id="main-row">
    <div class = "col-md-3">
        <div class ="new-search-box">
            <h1 class="text-center"> New search </h1>
            <form class="search-tweets" form method="POST" action="/search">
                <div class = "row">
                    <div class = "col-md-12">
                        <div class="box">
                            <div class="container-3">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input type="search" id="search-box" name="search" placeholder="Enter term(s) to search..." />
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "row">
                    <div class = "col-md-12">
                        <div class="button-wrapper">
                            <button id="search"  name="search-term" class="btn btn-sm btn-primary btn-block" type="submit">Search for Tweets</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class = "col-md-9">
        <h1 class= "text-center heading"> Results for: "{{query}}" </h1>
        {{#each tweets}}
            <div class = "tweet-box text-center">
                <p>{{this}}</p>
            </div>
          {{/each}}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
