<link rel="stylesheet" href="/stylesheets/habit_details.css">
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    google.charts.load('current', {packages: ['corechart', 'bar', 'calendar']});
google.charts.setOnLoadCallback(drawAxisTickColors);

function drawAxisTickColors() {


  
  var data = new google.visualization.DataTable();
        // Sleep chart

    var dates = [];

      for (i = 1; i < 8; i++) { 
        var weekAgo = new Date();
        weekAgo.setDate(weekAgo.getDate() - i);
        dates.push(weekAgo);
        
      }  


      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Vitamin D (ng/ml)');
      data.addColumn('number', 'Mood');

      data.addRows([
          [dates[0], 10,8],
          [dates[1], 13,6],
          [dates[2], 15,7],
          [dates[3], 12,8],
          [dates[4], 13,9],
          [dates[5], 11,7],
          [dates[6], 14,8],
      ]);
  

      var options = {

        seriesType:'bars',
        
        series:{
           1: {type:'line'}
        },
        
        hAxis: {
          title: 'Day of week',
         },

        vAxis: {
          title: 'Vitamin D level (ng/mL)',
        },
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        isStacked: true,

        colors: ['#F0E68C','#ff704c'],
        height: 600

       
      };

      var chart = new google.visualization.ComboChart(document.getElementById('sleep_div'));
      chart.draw(data, options);

  }
    </script>
  </head>

<div class="row">
    <div class="col-md-12">
        <div class="text-center" id="nav-wrapper">
            <nav id="nav" class="navbar" role="navigation">
                <ul class="nav navbar-nav">
                    <li id="first"><a href="/dashboard">DASHBOARD</a></li>
                    <li class="active"><a href="/habits">HABITS</a></li>
                    <li><a href="/meetups">MEETUPS</a></li>
                    <li><a href="/recommendations">RECOMMENDATIONS</a></li>
                    <li id="last"><a href="/logout" target="_self">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="habit-wrapper">
            <div class="heading-wrap">
                <div class="row">
                    <div class="col-md-2">
                        <a href="/habits"><h5><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to all habits</h5></a>
                    </div>

                    <div class="col-md-8">
                        <h1 class="heading">{{habit.name}}</h1>
                    </div>

                    <div class="col-md-2 ">
                        <a class="pull-right" href="/delete/{{habit.name}}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="powered-by"><b><p>Data provided by</p></b><img class="user-img logo" src="/images/ultra.PNG"/></div>
                <div class="col-md-12">

                    <h3> <b>Your vitamin D levels vs daily mood  - past 7 days </b></h3>
                    <div id="sleep_div"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

