.summary-wrap{
    border:1px solid black;
    background-color: white;
    padding-bottom: 20px;
}

.content-wrap{
    border: 1px solid black;
    background-color: lightgrey;
}

#steps-progress{
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

#stepCount{
    font-size: 15px;
    margin-bottom: 0;
}

#step-heading-wrap{
    width: 400px;
    display: block;
    margin:0 auto;
    margin-top: 15px;
}

#sleep-progress{
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

#sleepCount{
    font-size: 15px;
    margin-bottom: 0;
}

#sleep-heading-wrap{
    width: 400px;
    display: block;
    margin:0 auto;
    margin-top: 15px;
}

#bpCount{
    font-size: 15px;
    margin-bottom: 0;
}

#bp-heading-wrap{
    width: 400px;
    display: block;
    margin:0 auto;
    margin-top: 15px;
    margin-bottom: 5px;
}

#vitDCount{
    font-size: 15px;
    margin-bottom: 0;
}

#vitD-heading-wrap{
    width: 400px;
    display: block;
    margin:0 auto;
    margin-top: 15px;
}

.big-text{
    font-size: 16px;
}

.bp-rating{
    padding-left: 20px;
}


.diary-wrap{
    border:1px solid black;
    background-color: white;
}

.heading{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
}

#meetup-wrap{
    background-color: lightblue;
}

.icon-background1{
    font-size: 25px;
    color: grey;
}

.fa-exclamation{
    color: red;
}

.fa-stack{
    margin-left: -5px;
}

#info-section{
    padding-left: 30px;
}

#map{
    width: 200px;
    height: 150px;
}

#feelingLabel{
    font-size: 15px;
    margin-bottom: 0;
}

#feeling-heading-wrap{
    width: 75%;
    display: block;
    margin:0 auto;
    margin-top: 15px;
}

#happyRange{
    width: 75%;
    margin: 0 auto;
}
