.summary-wrap{
    border:1px solid black;
    background-color: white;
}

.step-wrap{
    margin-bottom: 20px;
}

#steps-progress{
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

#stepCount{
    font-size: 15px;
    margin-bottom: 0;
}

#step-heading-wrap{
    width: 400px;
    display: block;
    margin:0 auto;
    margin-top: 15px;
}

#sleep-progress{
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

#sleepCount{
    font-size: 15px;
    margin-bottom: 0;
}

#sleep-heading-wrap{
    width: 400px;
    display: block;
    margin:0 auto;
    margin-top: 15px;
}

.diary-wrap{
    border:1px solid black;
    background-color: white;
}

.heading{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
}
