.habit-wrapper{
    padding:20px;
    box-shadow: 0 0 25px grey;
    background-color: white;
    border-radius: 5px;
}

.heading{
    text-align: center;
    padding: 0;
    margin: 0;
}

.update-habit-wrap{
    padding: 10px;
    border: 1px solid black;
}

.graph-wrap{
    border: 1px solid blue;
}

.date-wrap{
    width: 75%;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
}

.inputContainer {
    width: 150px;
    display: block;
    margin: 0 auto;
}
.inputContainer label {
    float: right;
    padding-left: 5px;
    margin-top: 2px;
}
.inputContainer div {
    overflow: hidden;
}
.inputContainer input {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block
}

.update-button{
    display: block;
    margin: 0 auto;
    width: 150px;
    margin-top: 10px;
}
