.assigned-user-wrap{
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 0 25px grey;
    padding: 20px;
}

/*.heading{
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 10px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 25px;
}*/

.user-img{
    width: 64px;
    height:64px;
}

.username{
    font-size: 24px;
    padding-left: 10px;
}

.person-div{
    text-align: center;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}
