.meetup-wrapper{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 25px grey;
}

.header-wrapper{
    border-bottom: 1px solid black;
    padding-bottom:20px;
    padding-top: 20px;
}

.field-wrapper{
    width: 75%;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
.user-img{
    width: 64px;
    height:64px;
}

.username{
    padding-left: 10px;
    font-size: 18px;
}

.detail-header{
    padding-bottom: 10px;
}
