/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #83a4d4, #b6fbff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #83a4d4, #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrap-colour{
    background-color: #f7f7f7;
}
